<template>
  <div class="text-center" style="width:100%;">
    <div><img src="http://elkhornridge.net/img/footgolf_web.jpg"></div>
    <div>&nbsp;</div>
    <div><a href="http://elkhornridge.net/pdf/FootGolfFlyer.pdf" target="_blank">FootGolf Flyer</a></div>
    <div>&nbsp;</div>
    <div class="row text-section2">
      <div class="span8 offset2">
        JOIN THE LATEST ADDITION TO GOLF &amp; SOCCER!
        FOOTGOLF IS PLAYED ON A GOLF COURSE, WITH A SIZE 5 SOCCER BALL AND 21 INCH CUPS, USING NORMAL GOLF RULES.
      </div>
    </div>

    <div class="row text-section2 text-left">
      <div class="span1 offset3">
        <span class="badge">WHERE:</span>
      </div>
      <div class="span4"> Elkhorn Ridge Golf Course<br>
        20033 Elkhorn Ridge Dr.<br>
        Elkhorn, NE 68022<br>
        (402) 289-4332
      </div>
    </div>

    <div class="row text-section2 text-left">
      <div class="span1 offset3"><span class="badge">WHEN:</span></div>
      <div class="span4">
        FootGolf is available Monday and Wednesday afternoons (June - August), from 1 to 4, and Sunday evenings after 4
        pm. Groups and/or Birthday parties may reserve specific tee times during these times.
      </div>
    </div>

    <div class="row text-section3 text-left">
      <div class="span1 offset3"><span class="badge">RATES:</span></div>
      <div class="span4">$8.50 for players 15 and under $11 for 16 and over</div>
    </div>

    <div class="row text-section2">
      <div class="span8 offset2">
        Bring your own size 5 soccer ball,
        or rentals are available for $3.00 (with a $2.00) deposit.
      </div>
    </div>

    <div class="row text-section2">
      <div class="span8 offset2"><i>PLEASE NOTE THAT NO CLEATS ARE ALLOWED, AND KICKING OR RUNNING ON THE GOLF GREENS IS
        STRICTLY PROHIBITED. </i>
      </div>
    </div>
</template>
