<template>
  <img src="http://elkhornridge.net/img/newlogo.gif" width="217" height="106" alt="Logo">
  <br><br>
  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span5">
      <a href="course.html"><img src="http://elkhornridge.net/img/logo_small_web.jpg" border="0"></a>
      <br><h5><a href="course.html">Golf Course</a></h5>
    </div>
    <div class="span5">

      <a href="http://www.theridgebanquetfacility.com" target="_blank"><img src="http://elkhornridge.net/img/banquetfacility_small.jpg"
                                                                            border="0"></a>
      <br><h5><a href="http://www.theridgebanquetfacility.com" target="_blank">Banquet Facility</a></h5>
    </div>
    <div class="span1">
    </div>
  </div>
</template>
